<div class="image-index container-fluid p-0">

  <div class="page-body">
    <h2 class="header my-3">Create a new Image</h2>

    <%= simple_form_for @image, html: { class: "form-group"} do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :url %>

      <div class="form-group">
        <label for="tag-adder">Tags</label>
        <div class="input-and-button">
          <input id="tag-adder" class="form-control tag-field">
          <button id="add-tag" class="btn btn-secondary">Add Tag</button>
        </div>
      </div>

      <%= f.button :submit, class: "btn btn-lg btn-secondary", id: 'submit-image'  %>
    <% end %>
  </div>
</div>
