<div class="image-index container-fluid p-0">

  <%= render 'nav' %>

  <div class="page-body">
    <h2 class="header my-3">Create a new Image</h2>

    <%= simple_form_for @image, html: { class: "form-group"} do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :url %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
