<div class="container-fluid p-0">

  <%= render 'nav' %>

  <div class="page-body">
    <h2 class="page-header my-3">Viewing <%= @image.name %></h2>

    <div class="alert alert-primary <%= flash[:notice] ? '' : 'collapse' %>"><%= flash[:notice] %></div>

    <img src="<%= @image.url %>" alt="" class="image-show">

    <div class="show-tag-index">
      <% @image.tags.each do |tag| %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= tag.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>
